/Applications/Android/AdvancedMapViewer/bin/*
/AdvancedMapViewer/*
/HHRouting/*
/Applications/Android/Samples/*
/mapsforge-map/stuff/*
/mapsforge-map-writer-automatization/*
/mapsforge-poi-reader/*
/mapsforge-poi-writer/*
/mapsforge-routing/*
*/target/*
*/bin/*
*/classes/
/mapsforge/
/mapsforge-map-reader/src/test/
/eclipse-config/
.svn
*.class
*.png
*~
.settings/
